#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        iidx_btn: iidx_button {
            compatible = "zmk,behavior-iidx-button";
            #binding-cells = <1>;
        };

        iidx_mode: iidx_mode {
            compatible = "zmk,behavior-iidx-mode";
            #binding-cells = <0>;
            iidx-layers = <0 1>;
            default-iidx-mode;
        };

        iidx_boot: iidx_boot {
            compatible = "zmk,behavior-iidx-boot-select";
            #binding-cells = <0>;
            bindings = <&iidx_mode>, <&iidx_btn 0>;
            boot-timeout-ms = <1000>;
        };

        enc_hold: enc_hold {
            compatible = "zmk,behavior-sensor-hold-step-rotate";
            #sensor-binding-cells = <0>;
            step-group-size = <0>;
            timeout-ms = <200>;
            direction-hold-mode = <0>;

            require-top-layer;

            bindings = <
                &iidx_btn 8   /* hold_cw  */
                &iidx_btn 7   /* hold_ccw */
                &none    /* step_cw  */
                &none   /* step_ccw */
            >;
        };

        enc_iidx_x: enc_iidx_x {
            compatible = "zmk,behavior-sensor-iidx-x-value";
            #sensor-binding-cells = <0>;

            index = <0>;
            min = <(-127)>;
            max = <127>;
            step = <(-5)>;
            ticks-per-step = <1>;
            continuous;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        keyboard_layer {
            bindings = <
                &iidx_boot &iidx_btn 1 &iidx_btn 2 &iidx_btn 3 &iidx_btn 4
                &iidx_btn 5 &iidx_btn 6 &iidx_btn 9 &iidx_btn 10
            >;
            sensor-bindings = <&enc_hold>;
        };

        iidx_layer {
            bindings = <
                &iidx_btn 0 &iidx_btn 1 &iidx_btn 2 &iidx_btn 3 &iidx_btn 4
                &iidx_btn 5 &iidx_btn 6 &iidx_btn 8 &iidx_btn 9
            >;
            sensor-bindings = <&enc_iidx_x>;
        };
    };
};
